<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<script src="https://kit.fontawesome.com/5076e1c884.js"
	crossorigin="anonymous"></script>
<title>Cadre Home</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">


		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>


					<a style="font-size: 30px"
						class="sidebar-brand d-flex align-items-center justify-content-center text-decoration-none text-primary"
						href="index.html">
						<div class="sidebar-brand-icon rotate-n-15">
							<i class="fas fa-laugh-wink"></i>
						</div>
						<div class="sidebar-brand-text mx-3">
							Cadre <sup><b>JT</b></sup>
						</div>
					</a>



					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle text-primary"
							th:href="@{/cadre/homeCadre}">Home</a></li>
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle text-primary" href="">Student
								Management</a></li>
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle text-primary" href="">Compte
								Management</a></li>

						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <span
								class="mr-2 d-none d-lg-inline text-gray-600 small">Cadre
									Administrative</span> <img class="img-profile rounded-circle"
								src="/images/undraw_profile_2.svg">
						</a> <!-- Dropdown - User Information -->
							<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown">
								<a class="dropdown-item" href="#"> <i
									class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
								</a> <a class="dropdown-item" href="#"> <i
									class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
									Settings
								</a> <a class="dropdown-item" href="#"> <i
									class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
									Activity Log
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#" data-toggle="modal"
									data-target="#logoutModal"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Logout
								</a>
							</div></li>

					</ul>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800 ">Student Management</h1>

					</div>

					<!-- Content Row -->
					<div class="row m-auto text-primary" style="width: 70%">

						<!-- Content Column -->
						<div class="col-lg-12 mb-4 text-center container">


							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Add Student</h6>
								</div>
								<div class="mt-3 mb-2">
									<form th:action="@{/cadre/addStudent}" method="post" id="add-form"
									th:object="${studentToAdd}">
										<div class="row mt-3" id="form-add-contact">
											<div class="col-6">
												<p class="font-weight-bold">First Name (Fr)</p>
												<input  type="text"
													placeholder="Ex: Mohammed" th:field="*{prenomFR}" required>
												<p class="font-weight-bold">Last Name (Fr)</p>
												<input th:field="*{nomFR}" type="text" placeholder="Ex: TATI"
													required>
												<p class="font-weight-bold">First Name (Ar)</p>
												<input th:field="*{prenomAR}" type="text" placeholder="Ex: محمد">
												<p class="font-weight-bold">Last Name (Ar)</p>
												<input th:field="*{nomAR}" type="text" placeholder="Ex: تاتي">
												<p class="font-weight-bold">Phone Number</p>
												<input th:field="*{tele}" type="text"
													placeholder="Ex: 06xxxxxx63" required>

											</div>
											<div class="col-6 mt-4">
												<p class="font-weight-bold">CIN</p>
												<input th:field="*{cin}" type="text" placeholder="Ex: FLxxx82"
													required>
												<p class="font-weight-bold">CNE</p>
												<input name="cne" type="text"
													placeholder="Ex: H14xxxxxxx3" required>
												<p class="font-weight-bold">Email</p>
												<input th:field="*{email}" type="text"
													placeholder="Ex: example@gmail.com">
												<p class="font-weight-bold">Birthday</p>
												<input name="birthday" type="date">

											</div>
										</div>
										<div id="submit-form">
											<input type="submit"
												class="btn btn-success font-weight-bold mt-4 mb-2"
												value="Add Contact" id="btn">
										</div>

									</form>
								</div>
							</div>
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Update
										Student</h6>
								</div>
								<div class="text-center pt-2 mt-4 mb-4" id="selector">
									<select
										onchange="if (this.value) window.location.href = this.value;">
										<option value="" disabled="disabled" selected="selected">Choose
											a Student</option>
										<option th:each="contact : ${contacts}"
											th:value="@{/update(contactSelected=${contact.id})}"
											th:text="${contact.last_name + ' ' + contact.first_name}"></option>
									</select>
								</div>
								<div>
									<form action="" method="post" id="add-form">
										<div class="row mt-3" id="form-add-contact">
											<div class="col-6">
												<p class="font-weight-bold">First Name (Fr)</p>
												<input name="first_name" type="text"
													placeholder="Ex: Mohammed" required>
												<p class="font-weight-bold">Last Name (Fr)</p>
												<input name="last_name" type="text" placeholder="Ex: TATI"
													required>
												<p class="font-weight-bold">First Name (Ar)</p>
												<input name="first_name" type="text" placeholder="Ex: محمد">
												<p class="font-weight-bold">Last Name (Ar)</p>
												<input name="last_name" type="text" placeholder="Ex: تاتي">
												<p class="font-weight-bold">Phone Number</p>
												<input name="phone1" type="text"
													placeholder="Ex: 06xxxxxx63" required>

											</div>
											<div class="col-6 mt-4">
												<p class="font-weight-bold">CIN</p>
												<input name="phone2" type="text" placeholder="Ex: FLxxx82"
													required>
												<p class="font-weight-bold">CNE</p>
												<input name="address" type="text"
													placeholder="Ex: H14xxxxxxx3" required>
												<p class="font-weight-bold">Email</p>
												<input name="email_professional" type="text"
													placeholder="Ex: example@gmail.com">
												<p class="font-weight-bold">Birthday</p>
												<input name="email_personal" type="date">

											</div>
										</div>
										<div id="submit-form">
											<input type="submit"
												class="btn btn-success font-weight-bold mt-4 mb-2"
												value="Update Contact" id="btn">
										</div>

									</form>
								</div>
							</div>
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Delete
										Student</h6>
								</div>
								<div>
									<!-- Update Student Div -->
								</div>
							</div>

						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; <b>JT</b> 2023
						</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/chart.js/Chart.min.js"></script>


</body>

</html>